.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

.secondary-button, .primary-button {
    text-align: center;
    padding: 10px 50px;
    font-size: 50px;
    margin: 20px;
    text-decoration: none;
    color: #d1d1d1;
}

.secondary-button:hover, .secondary-button:focus {
    color: white;
}

.primary-button {
    background-color: var(--main-color);
}

.secondary-button {
    background-color: var(--secondary-color);
}