:root {
    --main-color: #37463D;
    --secondary-color: #5B696B;
    --color3: #535953;
    --background-color: #F8FBF1;
    --color5: #C5C5A9;
}

body {
    background-color: var(--background-color);
    margin: 0px;
}



.button {
    background-color: var(--secondary-color);
    border: 2px solid transparent;
    border-radius: 5px;
}

.button:hover, .button:focus {
    border-color: black;
}